@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  max-width: 900px;
  margin: auto;
  padding: 50px 15px 0px 15px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.5em 0;
  padding: 0;
}
a.disabled {
  pointer-events: none;
}
.shift-down-1{
  transform: translatey(1px)
}
.shift-down-2{
  transform: translatey(2px)
}
.shift-down-3{
  transform: translatey(3px)
}
.shift-up-1{
  transform: translatey(-1px)
}
.shift-up-2{
  transform: translatey(-2px)
}
.shift-up-3{
  transform: translatey(-3px)
}
.button.outline.small{
  border-width: 1px;
}
.form-item, form {
  margin-bottom: 1rem;
}
fieldset{
  background: rgba(0, 0, 0, 0.015);
}
